@use "../../styles/splitter.scss" as *;
.blogCard {
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    min-height: calc(100vh / 2);
    .cardLf {
      width: 48%;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: $c-grey;
        right: calc(100%);
        top: calc(9%);
      }
      &:after {
        content: "";
        position: absolute;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        border: 1px solid $c-grey;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .top {
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        .date {
          position: absolute;
          right: calc(100% + 1em);
          top: calc(2%);
          font-size: 0.6em;
          width: 36px;
        }
        .cat {
          font-weight: $font-bold;
          border-bottom: 4px solid #000;
        }
      }
      .title {
        font-size: 2.2em;
        color: $primary-color;
        font-weight: $font-thin;
      }
      .excerpt {
        font-size: 0.8em;
        line-height: 1.4em;
      }
    }
    .cardRt {
      width: 48%;
      img {
        width: 100%;
      }
    }
  }
}
