@use "../../styles/splitter.scss" as *;

.main {
  width: calc(100% - 300px);
  .b_row {
    display: flex;
    flex-wrap: wrap;
    .blogItem {
      width: 100%;
      padding: 2em 8em;
    }
  }
}
