@import "../icons/fontawesome/css/all.min.css";
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.sonangApp {
  display: flex;
  justify-content: space-between;
}
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
